{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="container sidebar d-none d-sm-block col-md-2 " style="background-color: white;">
dsf
</div>
<div class="col-md-10 " style="background-color: blue;">
    sd
</div>
</div>
{% endblock content %}

<!-- <ul>
    {% for obj in object_list %}
   <li> <a href='/details/{{obj.slug}}'> {{obj}}</a> {{obj.comments}} {{obj.dogs_name}} {{ obj.dogs_race}} UPD: {{obj.updated}} ADD: {{obj.timestamp}} {{obj.my_date_field}}</li>
    {% endfor%}
</ul> -->